<div class="main users-index">
  <div class="container">
    
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-left">
          <img src="<%= "/user_images/#{user.image_name}" %>">
        </div>
        <div class="user-right">
          <div class="user-user-name">
            <%= link_to(user.name, "/users/#{user.id}") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>